body {
  display: flex;

}

#content {
  font-size: 48px;
  margin-left: 250px;
}

.col {
  height: 140px;
  margin: 20px 20px 20px 20px;
  border: 2px solid #bdbcbc;
  border-radius: 5px;
  text-align: center;
}



.row {

  color: #042331;
  width: 1100px;
  border: 1px solid #c0c0c0;

}
