<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Main</title>
    <link rel="stylesheet" type="text/css" th:href="@{/css/common.css}">
    <link rel="stylesheet" type="text/css" th:href="@{/css/dashboard.css}">
<!--    <link href="https://fonts.googleapis.com/css2?family=Jost:wght@500&display=swap" rel="stylesheet">-->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"/>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css"/>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css"
          integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
          crossorigin="anonymous">
</head>
<body>

<div id="sidebar">
    <header>LMS</header>
    <ul>
        <li><a th:href="@{/dashboard}"><i class="fas fa-qrcode"></i>Dashboard</a></li>
        <li><a th:href="@{/books}"><i class="fa-solid fa-book"></i>Books</a></li>
        <li><a th:href="@{/loans}"><i class="fa-solid fa-hand-holding-hand"></i>Loans</a></li>
        <li><a th:href="@{/visits}"><i class="fas fa-calendar-week"></i>Visit history</a></li>
        <li><a th:href="@{/report}"><i class="fa-solid fa-chart-line"></i>Report</a></li>
        <li><a th:href="@{/profile}"><i class="fa-solid fa-user"></i>Profile</a></li>
        <li><a th:href="@{/config}"><i class="fa-solid fa-gears"></i>Configuration</a></li>
        <li><form th:action="@{/logout}" method="post">
            <button type="submit"><i class="fa-solid fa-right-from-bracket"></i>Logout</button>
        </form>
    </ul>

<!--    logout button-->
</div>

<div class="container" style="padding-left: 100px; padding-right: 50px; padding-top: 50px; border: 2px dot-dash blue"
     th:object="${visits}">
    <h2>Dashboard</h2>

    <div class="row" style="border-top: 2px solid #bdbcbc; border-top-left-radius: 5px; border-top-right-radius: 5px;">

        <div class="col col-sm" style="background-color: #8cdbff;">
            <div style="margin: auto 0 auto 0;">
                <p style="font-size: 24px">Visits today:</p>
                <p style="font-size: 48px" th:text="${visits.today}"></p>
            </div>
        </div>
        <div class="col col-sm" style="background-color: #8cff96;">
            <div style="margin: auto 0 auto 0;">
                <p style="font-size: 24px">Visits last 7 days:</p>
                <p style="font-size: 48px" th:text="${visits.last7}"></p>
            </div>
        </div>
        <div class="col col-sm" style="background-color: #8cffb4;">
            <div style="margin: auto 0 auto 0;">
                <p style="font-size: 24px">Visits last 30 days:</p>
                <p style="font-size: 48px" th:text="${visits.last30}"></p>
            </div>
        </div>

    </div>

    <div class="row" th:object="${books_response}">
        <div class="col col-sm-6" style="background-color: #ff8cde;">
            <div style="margin: auto 0 auto 0;">
                <p style="font-size: 24px">Total books in stock:</p>
                <p style="font-size: 48px" th:text="${books_response.totalStock}"></p>
            </div>
        </div>
        <div class="col col-sm-4" style="background-color: #ba8cff;">
            <div style="margin: auto 0 auto 0;">
                <p style="font-size: 24px">Total books:</p>
                <p style="font-size: 48px" th:text="${books_response.bookCount}"></p>
            </div>
        </div>
    </div>

    <div class="row">
        <h3 style="margin-left: 12px;">Last visitors</h3>
        <table class="table table-bordered" style="margin-top: 20px; margin-left: 20px; margin-right: 20px">
            <thead class="thead-light">
            <tr>
                <th>ID</th>
                <th>First Name</th>
                <th>Last Name</th>
                <th>Time</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="visit : ${visits.lastVisits}">
                <td th:text="${visit.studentId}"></td>
                <td th:text="${visit.studentFirstName}"></td>
                <td th:text="${visit.studentLastName}"></td>
                <td th:text="${visit.time}"></td>
            </tr>
            </tbody>
        </table>
    </div>

</div>



<hr/>

</body>
</html>