<header>LMS</header>
<ul>
    <li><a th:href="@{/dashboard}"><i class="fas fa-qrcode"></i>Dashboard</a></li>
    <li><a th:href="@{/books}"><i class="fa-solid fa-book"></i>Books</a></li>
    <li><a th:href="@{/loans}"><i class="fa-solid fa-hand-holding-hand"></i>Loans</a></li>
    <li><a th:href="@{/visits}"><i class="fas fa-calendar-week"></i>Visit history</a></li>
    <li><a th:href="@{/report}"><i class="fa-solid fa-chart-line"></i>Report</a></li>
    <li><a th:href="@{/config}"><i class="fa-solid fa-gears"></i>Configuration</a></li>
    <li><form th:action="@{/logout}" method="post">
        <button type="submit"><i class="fa-solid fa-right-from-bracket"></i>Logout</button>
    </form>
</ul>